body {
    background-image: url('./img/pared-ladrillo-luz-neon.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.container1{
    display: grid;
    justify-content: center;
}

* {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttonLogin {
    margin: auto;
}

.buttonLogin img {
    display: flex;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.buttonLogin:hover::after {
    content: "";
    position: absolute;
}

.buttonLogin:hover img {
    opacity: 3;
}


h1 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    margin: 70px;
    padding: 0;
}

.neonText {
animation: flicker 5s infinite alternate;
color: #ffffff;
}

h1 {
font-size: 30px;  
}

/* Flickering animation */
@keyframes flicker {

0%, 18%, 22%, 25%, 53%, 57%, 100% {

  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #f09,
  0 0 82px #f09,
  0 0 92px #f09,
  0 0 102px #f09,
  0 0 151px #f09;
}

20%, 24%, 55% {        
  text-shadow: none;
}    
}

.new-post__container__textarea {
    width: 100%;
    height: 200px;
}

.new-post__container__button {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
