body {
    background-image: url('./img/pared-ladrillo-luz-neon.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --glow-color: #f09;
    --black: #1a1e23;
    --shadow: #fff;
}

.posts{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.buttonLogin {
    margin: auto;
}

.buttonLogin img {
    display: flex;
    margin: auto;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.buttonLogin:hover::after {
    content: "";
    position: absolute;
}

.buttonLogin:hover img {
    opacity: 3;
}


h1 {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    margin: 70px;
    padding: 0;
}

.neonText, h1{
animation: flicker 5s infinite alternate;
color: #ffffff;
}

h1 {
font-size: 30px;  
}

/* Flickering animation */
@keyframes flicker {

0%, 18%, 22%, 25%, 53%, 57%, 100% {

  text-shadow:
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #f09,
  0 0 82px #f09,
  0 0 92px #f09,
  0 0 102px #f09,
  0 0 151px #f09;
}

20%, 24%, 55% {        
  text-shadow: none;
}    
}

.new-post__container__textarea {
    width: 400px;
    height: 200px;
}

.new-post__container__textarea{
    border-radius: 10px;
}
.new-post__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-post__container__button {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    justify-content: center;
    position: relative;
    color: var(--shadow);
    cursor: pointer;
    padding: 0.35em 1.2em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.8em;
    background: none;
    perspective: 2em;
    letter-spacing: 1em;
    box-shadow: inset   0 0 0.5em 0 var(--glow-color),
                        0 0 0.5em 0 var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.neon-text2{
    font-weight: bold;
    float: left;
    margin-right: -0.8em;
    text-shadow:  0 0 0.125em var(--shadow),
                  0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.new-post__container__button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    background: var(--glow-color);
    pointer-events: none;
}

.new-post__container__button::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 0.6em;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.new-post__container__button:hover {
    color: var(--black);
    text-shadow: none;
    animation: none;
}

.new-post__container__button:hover .neon-text2{
    animation: none;

}
.new-post__container__button:hover::before{
    filter: blur(1.5em);
    opacity: 1;
}
.new-post__container__button:hover::after{
    opacity: 1;
}

p{
    color: #000000;
    opacity: 2;
}

.list-group-item-list-group-item-action{

    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20em;
    opacity: 0.5;
    margin: 20px;
    padding:.3rem;

}
